<div class="row">
  <div class="twelve columns">
    <h2>My dreams</h2>
  </div>
</div>

<div class="row">
  <div class="nine columns" id="content">
    <form id="new_dream" class="nice">
      <input id="dream_name" type="text" placeholder="New dream" autofocus autocomplete="off">
    </form>

    <ul id="dreams"></ul>
  </div>

  <div class="three columns" id="count">
    <div class="panel">
      <h3>Total: <span id="counter"></span></h3>
      <a href="javascript:;" class="full">Full sync</a><br>
      <a href="javascript:;" class="part">Incremental sync</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="three columns centered footer">
    <hr>
    <span>Created by</span><br>
    <a href="https://twitter.com/ask_11">Aleksey Kulikov</a><br>
    <a href="https://github.com/Ask11/dreamy">Source Code</a>
  </div>
</div>
