<div data-role="header">
  <h1>My dreams</h1>
</div><!-- /header -->

<div data-role="content" id="content">

</div><!-- /content -->

<div data-role="footer">
  <h4>Footer content</h4>
</div><!-- /footer -->