/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'foundation'
 *= require_self
*/

.container { margin-top: 10px; }
.row { max-width: 900px; }

#new_dream input {
  margin: 0;
  padding: 18px 17px 16px;
}

#dreams {
  .input-text {
    margin: -6px 0 14px -5px;
    border: 0;
    outline: none;
    background: none;
  }
  .panel.active {
    box-shadow: 0 2px 5px #00A6FC;
  }
}

#count {
  .panel {
    padding-top: 12px;
    padding-bottom: 10px;
    text-align: center;
  }
}
