/*
 *= require 'foundation'
 *= require_self
*/

.container { margin-top: 10px; }
.row { max-width: 900px; }
a { color: #4D4D4D; }
form.nice input.input-text { background: none; }
h2, h4 { font-family: "OpenSans"; font-weight: 500; }

#new_dream #dream_name {
  margin: 0;
  padding: 17px 15px 16px;
}

#dreams {
  .input-text {
    margin: -6px 0 14px -5px;
    border: 0;
    outline: none;
    background: none;
    width: 90%;
    display: inline-block;
  }
  .destroy { float: right; }
  .active { box-shadow: 0 2px 5px #B3B3B3; }
}

#count .panel {
  padding-top: 12px;
  padding-bottom: 10px;
  text-align: center;
}

.footer { padding: 20px; text-align: center; }