<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dreamer</title>
  <%= stylesheet_link_tag "mobile" %>
  <%= javascript_include_tag "mobile" %>
</head>

<body>

<div data-role="page">
  <%= yield %>
</div><!-- /page -->

</body>
</html>